# .env
DB_HOST=host_name
DB_PORT=5432
DB_NAME=db_name
DB_USER=user_name
DB_PASSWORD=password

# .msc_tracking
MSC_TRACKING_URL=tracking_url

MSC_HEADER_ACCEPT="header"
MSC_HEADER_ACCEPT_LANGUAGE="en-US,en;q=0.9"
MSC_HEADER_CONTENT_TYPE="contenttype"
MSC_HEADER_ORIGIN="origin"
MSC_HEADER_REFERER="referrer"
MSC_HEADER_X_REQUESTED_WITH="request"

# prefect
PREFECT_API_URL=http://prefect:4200/api