# .env
DB_HOST=host_name
DB_PORT=5432
DB_NAME=db_name
DB_USER=user_name
DB_PASSWORD=password

# .msc_tracking
MSC_TRACKING_URL=tracking_url

MSC_HEADER_ACCEPT="application/json, text/plain, */*"
MSC_HEADER_ACCEPT_LANGUAGE="en-US,en;q=0.9"
MSC_HEADER_CONTENT_TYPE="application/json"
MSC_HEADER_ORIGIN="https://www.msc.com"
MSC_HEADER_REFERER="https://www.msc.com/en/track-a-shipment"
MSC_HEADER_X_REQUESTED_WITH="XMLHttpRequest"

# prefect
PREFECT_API_URL=http://prefect:4200/api